# Ignorar ambientes virtuais
.venv/
venv/
venv_faces/
.env

# Ignorar cache e configs locais
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Ignorar arquivos grandes de libs
*.dll
*.so
*.dylib
*.pyd

# Ignorar saídas temporárias
*.log
*.tmp
*.swp

# Ignorar datasets, PDFs e imagens de teste
*.pdf
*.jpg
*.jpeg
*.png

# Ignorar dependências instaladas
*.egg-info/
dist/
build/
